body {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    background-color:rgb(249, 158, 196);
}

.container {
    justify-items: center;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    padding: 20px;
    height: 600px;
    width: 500px;
    color: rgb(201, 61, 119);
    font-size: 20px;
    font-weight: bold;
    background-color:white;
    margin-top: 50px;
}
h1 {
    font-size: 44px;
    margin: 2% 0 1% 0;
}
.container img {
    justify-self: center;
    height: 100px;
}
.container input {
    justify-self: center;
    margin: 10px;
    padding: 2px 10px;
    width: 250px;
    height: 30px;
    border: solid 2px rgb(244, 91, 154);
    border-radius: 5px;
    cursor: pointer;
}
.login {
     margin: 10px;
    width: 200px;
    padding: 10px;
    background-color: rgb(249, 158, 196);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
.button {
    margin: 10px;
    cursor: pointer;
    border: solid 2px rgb(244, 91, 154);
    border-radius: 5px;
}
.DarkTheme {
    cursor: pointer;
    border: solid 2px rgb(244, 91, 154);
    border-radius: 5px;
}
 @media (max-width: 768px)
 {
    .container {
        display: grid;
        grid-template-rows: auto;
        width: auto;
    }
 }
@media (max-width: 375px)
 {
    .container {
        display: grid;
        grid-template-rows: auto;
        width: auto;
    }
 }
