body {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    background-color:rgb(249, 158, 196);
    width: 100%;
}
.link {
    color: rgb(255, 224, 233);
}
.link:visited {
    color: rgb(73, 19, 42);
}