body {
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    background-color:  #1b2021;
}
h1 {
    font-size: 44px;
    margin: 2% 0 1% 0;
}
.container {
    justify-items: center;
    background-color: #101111;
    padding: 20px;
    width: 800px;
    height: auto;
    color: rgb(255, 224, 233);
    font-size: 20px;
    font-weight: bold;
}
.container img {
    justify-self: center;
    height: 100px;
}
.forms {
    display: grid;
    grid-template-columns: 350px 350px;
    justify-items: center;
    padding-top: 10px;
}
.forms input{
    margin: 10px;
    padding: 2px 10px;
    width: 250px;
    height: 30px;
    border: solid 2px rgb(255, 224, 233);
    border-radius: 5px;
    cursor: pointer;
}
.info1 {
    padding-bottom: 10px;
    font-size: 14px;
    width: 250px;
}
.info2 {
    padding-bottom: 10px;
    font-size: 14px;
    width: auto;
}
.Language{
    margin: 10px;
    border: none;
}
.Language select{
    margin: 5px 0 0 20px;
    cursor: pointer;
    border: solid 2px rgb(255, 224, 233);;
    border-radius: 5px;
}
.GenderName {
    border:none;
    border-top: solid 2px rgb(255, 224, 233);
    border-bottom: solid 2px rgb(255, 224, 233);
    width:75%;
    padding-top: 0;
}
.GenderName input{
    cursor: pointer;
}
.GenderName label{
    padding: 0 50px 10px 0;
}
.DarkTheme {
    float: right;
    align-self: center;
    cursor: pointer;
    border: solid 2px rgb(255, 224, 233);
    background-color: rgb(255, 224, 233);
    border-radius: 5px;
}
.button {
    margin: 10px;
    cursor: pointer;
    border: solid 2px rgb(255, 224, 233);
    background-color: rgb(255, 224, 233);
    border-radius: 5px;
}
.register {
    margin: 10px;
    width: 200px;
    padding: 10px;
    background-color: rgb(255, 224, 233);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
.link {
    color: rgb(255, 224, 233);
}
.link:visited {
    color: rgb(201, 61, 119);
}
@media(max-width: 768px)
{
    .container {
        width: 400px;
    }
    .forms {
        grid-template-columns: 1fr;
    }
    .GenderName {
        width:70%;
        padding-top: 0;
    }
    .DarkTheme {
        margin-left:0px;
    }
    .info2 {
        width: 250px;
    }
    
}
@media(max-width: 375px)
{
    .container {
        width: 400px;
    }
    .forms {
        grid-template-columns: 1fr;
    }
    .GenderName {
        width:70%;
        padding-top: 0;
    }
    .DarkTheme {
        margin-left:0px;
    }
    .info2 {
        width: 250px;
    }
    
}